
body {
    background-color: brown;
    font-family: "Comic Sans", "Serif-Sans";
    font-style: italic;
    font-weight: bold;
}

.text {
    color: black;
}

h1 {
    font-style: normal;
}
