
body {
    background-color: #7B3F00;
    font-family: "Comic Sans", "Serif-Sans";
    font-style: italic;
    font-weight: bold;
}

.text {
    color: #D27D2D;
}

h1 {
    font-style: normal;
}
