
body {
    background-color: #7B3F00; /* chocolate */
    font-family: "Comic Sans", "Serif-Sans";
    font-style: italic;
    font-weight: bold;
}

.div1 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #D27D2D; /* cinnamon */
}

h1 {
    font-style: normal;
}

.div1 hr {
    width: 100%;
    align-self: stretch;
    height: 2px;
    border: none;
    background-color: #7B3F00;
}
